<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>Hyperlink Policy</title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
		body{
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
			background: #161616;
		}
		#content{
			width: 95%;
			margin: 0 auto;
			background: #fff;
		}
		#policy{
            padding: 10px;
		}
		#policy h2, h3{
			text-align: center;
		}
		@media only screen and (min-width: 700px) {
		  #content{
				width: 70%;
			}
			#policy{
				padding: 30px;
			}
		}
	</style>
</head>
<body>
<form>
	<div id="content">
		<div id="policy">
			
			<h2>Hyperlink Policy : <a href="https://www.indiancarehub.com">indiancarehub.com</a></h2>
			<h3>Effective Date: 22-02-2024</h3>
			<h4>1. Purpose</h4>
			<p>The purpose of this Hyperlink Policy is to establish guidelines for the creation and use of hyperlinks to and from our website <a href="https://www.indiancarehub.com">indiancarehub.com</a>.</p>
			<h4>2. Linking to Our Website</h4>
			<h5>2.1. Permitted Links:</h5>
			<p>Individuals, organizations, and entities are encouraged to link to our website. Hyperlinks should direct to the homepage or relevant pages, as determined by content.</p>
			<h5>2.2. Linking Requirements:</h5>
			<p>Hyperlinks must not imply endorsement, sponsorship, or affiliation unless expressly agreed upon. The link should open in a new browser window or tab. Hyperlink text should accurately reflect the linked content.</p>
			<h4>3. External Links</h4>
			<h5>3.1. External Websites:</h5>
			<p>We may include links to external websites for user convenience. This does not imply endorsement of external content, products, or services.</p>
			<h5>3.2. Quality and Relevance:</h5>
			<p>Links to reputable and relevant external websites are provided, but we are not responsible for their content or practices.</p>
			<h5>3.3. Link Removal:</h5>
			<p>We reserve the right to remove any external link without notice if it violates our policies or becomes inappropriate or irrelevant.</p>
			<h4>4. Linking Restrictions</h4>
			<h5>4.1. Framing:</h5>
			<p>Do not create frames around our website or use techniques altering its visual presentation.</p>
			<h5>4.2. Deep Linking:</h5>
			<p>Do not deep link to specific pages in a misleading or misrepresentative manner.</p>
			<h5>4.3. Illegal Content:</h5>
			<p>Do not link to our website from any site with illegal, offensive, or defamatory content.</p>
			<h4>5. Changes to this Policy</h4>
			<p>We reserve the right to update this Hyperlink Policy without prior notice. Changes are effective immediately upon posting on our website.</p>
			<h4>6. Contact Information</h4>
			<p>For questions or concerns regarding this Hyperlink Policy, contact us at <a href="/contactUsPage">Contact Us</a> .</p>
			<p><h5><i>By linking to or using hyperlinks from our website, you agree to comply with this Hyperlink Policy. Your cooperation is appreciated.</i></h5></p>
		</div>
	</div>
</form>
</body>
</html>