<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>indiancarehub.com/Privacy Policy</title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
		body{
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
			background: #161616;
		}
		#content{
			width: 95%;
			margin: 0 auto;
			background: #fff;
			box-sizing:border-box;
		}
		#policy{
            padding: 10px;
		}
		#policy h2, h3{
			text-align: center;
		}
		@media only screen and (min-width: 700px) {
		  #content{
				width: 70%;
			}
			#policy{
				padding: 30px;
			}
		}
	</style>
</head>
<body>
<form>
	<div id="content">
		<div id="policy">
			<h2>Privacy Policy : <a href="https://www.indiancarehub.com">indiancarehub.com</a></h2>
			<h3>Effective Date: 22-02-2024</h3>
			<p>This Privacy Policy describes how indiancarehub.com collects, uses, and protects any information that you may provide when using our website.</p>

        <h3>Information We Collect</h3>
        <p>We do not collect personal information from users unless it is voluntarily provided. The types of information we may collect include:</p>
        <ul>
            <li>Contact details (if provided voluntarily)</li>
        </ul>

        <h3>How We Use Collected Information</h3>
        <p>The information we collect may be used in the following ways:</p>
        <ul>
            <li>To provide contact details and addresses of companies in India</li>
            <li>To improve our website based on your feedback</li>
        </ul>

        <h3>Security</h3>
        <p>We are committed to ensuring that your information is secure. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

        <h3>Links to Other Websites</h3>
        <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, we do not have control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information you provide while visiting such sites.</p>

        <h3>Changes to This Privacy Policy</h3>
        <p>We may update this privacy policy from time to time. You are advised to review this page periodically for any changes.</p>

        <p>If you have any questions about this Privacy Policy, please contact us at <a href="/contactUsPage">Contact_Us</a> .</p>
    
        
		</div>
	</div>
</form>
</body>
</html>