<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>ABC1</th>
            <th>ABC1</th>
            <th>ABC1</th>
            <th>ABC1</th>
            <th>ABC1</th>
            <th>ABC1</th>
            <th>ABC1</th>
            <th>ABC1</th>
        </tr>
        <tr>
            <td>xyz1</td>
            <td>xyz1</td>
            <td>xyz1</td>
            <td>xyz1</td>
            <td>xyz1</td>
            <td>xyz1</td>
            <td>xyz1</td>
            <td>xyz1</td>
        </tr>
    </table>
</div>
</body>
</html>