<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<title>indiancarehub.com/Terms & Conditions</title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
		body{
			margin: 0;
			padding: 0;
			font-family: 'Poppins', sans-serif;
			background: #161616;
		}
		#content{
			width: 95%;
			margin: 0 auto;
			background: #fff;
		}
		#policy{
            padding: 10px;
		}
		#policy h2, h3{
			text-align: center;
		}
		@media only screen and (min-width: 700px) {
		  #content{
				width: 70%;
			}
			#policy{
				padding: 30px;
			}
		}
	</style>
</head>
<body>
<form>
	<div id="content">
		<div id="policy">
			
			<h2>Terms & Conditions: <a href="https://www.indiancarehub.com">indiancarehub.com</a></h2>
			<h3>Effective Date: 22-02-2024</h3>
			<h3>1. Acceptance of Terms</h3>
        <p>By using indiancarehub.com, you agree to comply with and be bound by the following terms and conditions. If you do not agree to these terms, please do not use this website.</p>

        <h3>2. Information Accuracy</h3>
        <p>While we strive to provide accurate and up-to-date information, we do not guarantee the completeness, accuracy, reliability, or suitability of the information on this website. The use of any information is at your own risk.</p>

        <h3>3. User Conduct</h3>
        <p>You agree not to engage in any conduct that may disrupt or interfere with the functionality of the website or the servers and networks connected to it. You also agree not to use the website for any unlawful or prohibited purpose.</p>

        <h3>4. Privacy Policy</h3>
        <p>Your use of this website is also governed by our Privacy Policy, which can be found [link to Privacy Policy].</p>

        <h3>5. Links to Other Websites</h3>
        <p>We may provide links to third-party websites for your convenience. We do not endorse or make any representations about these sites. Visiting these sites is at your own risk.</p>

        <h3>6. Changes to Terms and Conditions</h3>
        <p>We may update these terms and conditions from time to time. Your continued use of the website after the changes will indicate your acceptance of the modified terms.</p>

        <h3>7. Contact Information</h3>
        <p>If you have any questions or concerns about these terms and conditions, please contact us at  <a href="/contactUsPage">Contact_Us</a>.</p>
   
		</div>
	</div>
</form>
</body>
</html>