<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	
	<title>Update Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/admin.css}">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div id="Container">
<div id="body">
<div id="editor">
	<th:block th:if="${view=='searchForUpdate'}">
		<form class="form" th:action="@{/updateFound_Post}" method="POST" onsubmit="return searchForUpdate(event);">
			<h2>Update</h2>
			<h5 id="search-msg" style="text-align:center;"> </h5>
			<div><label>Entery Number : </label><br><input type="number" name="searchId" class="search_id" placeholder="Ex. 101"></div>
			<div class="ul-portion"><button type="submit" class="submit">Search</button></div>
		</form>
	</th:block>
	<th:block th:if="${view == 'updateFound'}">
		<form class="form" onsubmit="return updateValidation(event)" th:action="@{/updateFoundUpdateNow}" method="POST" enctype="multipart/form-data">
			<h2>Modify Data</h2>
			<h5 id="show-error" style="text-align:center; color:red;"></h5>
			<input type="number" name="Entry_no" th:value="${allDetails['searchId']}" hidden>
			<div><label>Organization's Full Name : </label><br><input type="text" name="update_org_name" placeholder="buisness name..." th:value="${allDetails['orgName']}"></div>
			<div><label>Organization's Short Name : </label><br><input type="text" name="update_org_alias" placeholder="buisness title..." th:value="${allDetails['sortName']}"></div>
			<div><label>Organization's Other Name : </label><br><input type="text" name="update_org_title" placeholder="buisness title..." th:value="${allDetails['otherName']}"></div>
			
			<div><label>Organization logo : </label><br><img alt="Image" th:src="@{${allDetails['orgLogo']}}" height=60 width=60 >
			<label>Change logo : </label><input type="file" name="update_org_logo" placeholder="Update logo"> </div>
			
			<div><label>About Company : </label><br><textarea name="update_About_Company" placeholder="Something about company" th:text="${allDetails['orgAbout']}"></textarea> </div>
			<div><label>Buisness Address : </label><br><textarea name="update_org_address" placeholder="address..." th:text="${allDetails['orgAddress']}"></textarea> </div>
			<div><label>Official Website Link : </label><br><input type="text" name="update_Web_Link" placeholder="https://www.indiancarehub.com" th:value="${allDetails['orgWebsite']}"></div>
			
			<div class="contact-no" id="contact-no" th:each="deptEntry : ${dept_num}">
				<div class="name_number">
			    	<input type="number" name="record_no" th:value="${deptEntry.value[0]}" hidden>
			    	<input type="number" name="company_id" th:value="${deptEntry.value[1]}" hidden>
					<div><label>Department Name: </label><br><input type="text" name="Department_Name" placeholder="General Enquiry" th:value="${deptEntry.value[2]}"></div>
					<div><label>Phone or Email : </label><br><input type="text" name="PhoneEmail" placeholder="0123456789" th:value="${deptEntry.value[3]}"></div>
				</div>
			</div>
			<div class="ul-portion"><button type="submit" class="submit" name="btn" value="submit_update_entry">Update</button></div><hr>
		</form>
	</th:block>
</div>
</div>
</div>
<script type="text/javascript" th:src="@{/JS/admin_script.js}"></script>
<script type="text/javascript" th:src="@{/JS/check_validation.js}"></script>
</body>
</html>