<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" th:content="${allFields['pageTitle']}">
	<meta name="twitter:description" th:content="${allFields['description']}">
	<meta name="twitter:url" th:content="${allFields['fullUrl']}">
	<meta name="twitter:image" th:content="@{${allFields['orgLogo']}}">
	<meta name="twitter:image:alt" th:content="${'Logo of '+allFields['orgName']}">
	<!-- <meta name="twitter:site" content="@your_twitter_handle"> Optional if you have a Twitter account -->
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:title" th:content="${allFields['pageTitle']}">
	<meta property="og:description" th:content="${allFields['description']}">
	<meta property="og:url" th:content="${allFields['fullUrl']}">
	<meta property="og:image" th:content="@{${allFields['orgLogo']}}">
	<meta property="og:image:alt" th:content="${'Logo of '+allFields['orgName']}">
	<meta property="og:site_name" content="Indian Care Hub">

	<meta name="description" th:content="${allFields['description']}">
	<meta name="robots" content="index, follow">
	<meta name="revisit-after" content="1 days">
	<meta name="msapplication-tap-highlight" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="distribution" content="Global">
	<meta name="format-detection" content="telephone=yes">

	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/logo/logo-hotpink.png}" loading="lazy">
	<link rel="icon" type="image/png" th:href="@{/logo/logo-hotpink.png}" loading="lazy">


	<title th:text="${allFields['pageTitle']}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/CSS/Contact_Info_Comman_Style.css}">

	<noscript>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
			referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
	</noscript>

	<script>
		window.onload = function () {
			if (typeof jQuery === 'undefined') {
				var jQueryScript = document.createElement('script');
				jQueryScript.src = "https://code.jquery.com/jquery-3.7.1.min.js";
				jQueryScript.onload = function () {
					console.log('jQuery has been loaded successfully.');
					loadCustomScript();
				};
				document.head.appendChild(jQueryScript);
			} else {
				loadCustomScript();
			}
		};
		function loadCustomScript() {
			var customScript = document.createElement('script');
			customScript.src = '/JS/contact-info.js';
			customScript.type = 'text/javascript';
			customScript.async = true;

			customScript.onload = function () {
				console.log('contact-info.js has been loaded successfully.');
			};
			document.body.appendChild(customScript);
		}

	</script>
</head>

<body>

	<!--	Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVMW46WQ" height="0" width="0"
			style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript)

	<!-- Popup div -->
	<div id="popup">
		<span><i class="ri-clipboard-line"></i> Copied Text!</span><br><label class="copy-msg"></label><button
			id="ok-close">OK</button>
	</div>
	<div id="container">
		<strong id="org-name" th:text="${allFields['orgName']}"></strong>
		<div id="header">
			<div id="domain-logo">
				<img th:src="@{/logo/logo-hotpink.png}" alt="logo of Indiancarehub" loading="eager">
			</div>
			<div id="search-box">
				<ul>
					<li><a href="/#search-input">Search More</a>
					</li>
				</ul>
			</div>
			<div class="heading-box">
				<h1 th:text="${allFields['pageTitle']}"></h1>
				<span id="last_Updated" th:text="${'Last Updated: '+allFields['lastUpdated']}"></span>
			</div>
		</div>

		<div id="hidden-field">
			<span id="lastUpdatedDate-jsonLD" th:text="${allFields['lastUpdated']}" hidden></span>
			<span id="type-jsonLD" th:text="${allFields['industryName']}" hidden></span>
			<span id="url-jsonLD" th:text="${allFields['fullUrl']}" hidden></span>
		</div>

		<div id="content">
			<div class="company_logo">
				<div id="logo-jsonLD">
					<img th:src="@{${allFields['orgLogo']}}" th:alt="${'Logo of '+allFields['orgName']}"
						loading="eager">
					<!-- <img th:src="@{/logo/logo-hotpink.png}" alt="Image"> -->
				</div>
			</div>

			<!--==========Manual Ads Unit_1 ================-->
			<div id="ad-container-1"></div>
			<!--=============END================== -->


			<th:block th:if="${!threeNum.isEmpty()}">
				<div id="showoff-contact-table">
					<h2 th:text="|${allFields['sortName']} ${headings['Heading1']}|"></h2>
					<table>
						<tr th:each="threeNumber : ${threeNum}">
							<td th:utext="${threeNumber.key}"></td>
							<td class="td-3num">
								<span th:utext="${threeNumber.value}"></span><i class='ri-file-copy-line copy-icon'></i>
							</td>
						</tr>
					</table>
				</div>
			</th:block>

			<th:block th:if="${!allNum.isEmpty()}">
				<div class="all-numbers">
					<h2 th:text="|${allFields['sortName']} ${headings['Heading2']}|"></h2>
					<table>
						<tr class="no-jsonLD" th:each="allNumber : ${allNum}">
							<td class="numType_jsonLD" th:utext="${allNumber.key}"></td>
							<td class="td-num">
								<span class="numbers_jsonLD" th:utext="${allNumber.value}"></span><i
									class='ri-file-copy-line copy-icon'></i>
							</td>
						</tr>
					</table>
				</div>
			</th:block>

			<th:block th:if="${!allEmail.isEmpty()}">
				<div class="all-emails">
					<h2 th:text="|${allFields['sortName']} ${headings['Heading3']}|"></h2>
					<table>
						<tr class="email-jsonLD" th:each="emails : ${allEmail}">
							<td class="emailType_jsonLD" th:utext="${emails.key}"></td>
							<td class="td-email">
								<span class="emailsId_jsonLD" th:utext="${emails.value}"></span><i
									class='ri-file-copy-line copy-icon'></i>
							</td>
						</tr>
					</table>
				</div>
			</th:block>

			<th:block th:if="${!anchorMap.isEmpty()}">
				<div class="anchorData">
					<h3 th:text="${allFields['orgName']+' Important Links'}"></h3>
					<p th:each="anchor : ${anchorMap}">
						<!-- <span th:text="|${allFields['orgName']} ${anchor.value[3]}|"></span> -->
						<a th:href="@{${anchor.value[4]}}" th:text="|${allFields['orgName']} ${anchor.value[3]}|"
							target="_blank" rel="noopener noreferrer"></a>
					</p>

				</div>
			</th:block>
			<!-- -------------------Media Links-------------------------------------- -->
			<th:block th:if="${!mediaLinks.isEmpty()}">
				<div class="social-links">
					<h2 th:text="${allFields['sortName']+' Official Social Media Links'}"></h2>
					<div class="social-link-box">
						<ul th:each="media : ${mediaLinks}">
							<li th:class="${media.value[0]+' socialLinks_jsonLD'}">
								<a th:href="@{${media.value[1]}}">
									<span th:text="${media.value[0]}"></span>
									<i th:class="${media.value[2]}"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</th:block>
			<!-- --------------------------------------------------------------------------------------- -->

			<div class="address-box">
				<h2 th:text="${allFields['orgName']+' Address'}"></h2>
				<p class="address-jsonLD" th:utext="${allFields['orgAddress']}"></p>
			</div><br>
			<div class="Web_Link">
				<div class="call-logo"><span><i class="ri-link"></i></span></div>
				<div>
					<a th:href="@{${allFields['orgWebsite']}}">
						<p th:text="${allFields['orgName']+' Official Website Contact Page'}"></p>
					</a>
				</div>
			</div><br><br>
			<!-- Manual Ads Unit_4 Display================-->
			<!--=============END================== -->

			<div class="about-content" id="about-content">
				<h2 th:text="|${allFields['sortName']} ${headings['Heading4']}|"></h2>
				<span th:text="${allFields['pageTitle']+'.'}"></span>
				<div th:utext="${allFields['orgAbout']}"></div>
				<th:block th:if="${!questionMap.isEmpty()}">
					<div class="qn-ans qn-ans-jsonld" th:each="qn : ${questionMap}">
						<h3 class="qn-ans-qn qn-jsonld" th:utext="${qn.value[3]}"></h3>
						<p class="qn-ans-ans ans-jsonld" th:utext="${qn.value[4]}"></p>
					</div>
				</th:block>
				<br><br>
			</div>

			<div id="page-content" style="padding:0 10px;word-spacing: pre;">
				<h4 th:text="${allFields['orgName']+' Contact Details Overview'}"></h4>
				<p class="overview-jsonLD">This Page Contains a comprehensive and up-to-date <strong
						th:text="|${allFields['orgName']} ${headings['Heading2']}|"></strong> and Telephone directory,
					as well as a
					detailed <strong th:text="|${allFields['sortName']} ${headings['Heading1']}|"></strong> for all
					major
					branches and departments across India. Whether you're looking for customer support, helpline
					numbers, or contact information for any service or inquiry related to <strong
						th:text="${allFields['orgName']}"></strong>, our extensive database ensures you can find the
					information you need quickly and easily Such as: <strong
						th:text="|${allFields['sortName']} ${headings['Heading4']}|"></strong> etc.</p>
				<hr>
				<p>
					Are you a business? <br>
					<a href="/addContactManually">Add Your Contact to Help Us Improve Your Customer Reach</a>
				</p>
			</div>
			<th:block th:if="${!randomEntries.isEmpty()}">
				<div id="related-content">
					<h2>Recommended Content</h2>
					<ul>
						<li th:each="relatedLinks : ${randomEntries}"><a th:href="@{${relatedLinks.key}}" th:text="${relatedLinks.value}"></a></li>
					</ul>
				</div>
			</th:block>
			<div id="comments-box" class="">
				<h3>Your Feedback are Important to us</h3>
				<div id="sending"></div>
				<div><input type="email" id="mail_id" required><label for="mail_id">May i know your email id</label>
				</div>
				<div><textarea id="message" required></textarea><label for="message">Messages</label></div>
				<button id="sentMail">Send</button>
			</div>


		</div>
		<div id="footer">
			<div id="social-links">
				<ul>
					<li><a href="/terms">Terms & Conditions</a> </li>
					<li><a href="/hyperlink_policy">Hyperlink Policy</a> </li>
					<li><a href="/privacy_policy">Privacy Policy</a> </li>
					<li><a href="/disclimer">Disclimer</a> </li>
				</ul>
			</div>
			<div id="dmca-container"></div>
		</div>
	</div>
<div id="cookies-box">
	<h3>Cookie Consent</h3>
	<div>
		<p>
			We use cookies to enhance your experience on our site. By continuing to use our website, you agree to the use of cookies. These cookies help us analyze traffic, improve performance, and deliver personalized content. For more information, please review our <a href="/privacy_policy">Privacy Policy</a> and <a href="/cookie-policy">Cookie Policy</a>.
		</p>
	</div><hr>
	<div class="btn-cookies">
		<button id="accept-cookies">Accept</button>
		<button id="reject-cookies">Reject</button>
	</div>
</div>

</body>

</html>

<!-- 

	<!-- Google Tag Manager 
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PVMW46WQ');</script>
    <!-- End Google Tag Manager 

	<!-- Google Adsense 
    <meta name="google-adsense-account" content="ca-pub-2630992286399451">
     <!-- End Google Adsense 

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
		referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
	<script type="text/javascript">(function () { emailjs.init("xLkhpASd62DGUbmZ_"); })();</script>
	<script type="text/javascript" th:src="@{/JS/contact-info.js}"></script>

	<script async type='text/javascript'>//Show ads on page load
			var la = !1; window.addEventListener("scroll", function () { (0 != document.documentElement.scrollTop && !1 === la || 0 != document.body.scrollTop && !1 === la) && (!function () { var e = document.createElement("script"); e.type = "text/javascript", e.async = !0, e.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2630992286399451"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(e, a) }(), la = !0) }, !0);
		</script>


	<a href="//www.dmca.com/Protection/Status.aspx?ID=2fa696c2-3093-4f4e-a7e7-e3907994ab34"
					title="DMCA.com Protection Status" class="dmca-badge"> <img
						src="https://images.dmca.com/Badges/dmca-badge-w150-5x1-02.png?ID=2fa696c2-3093-4f4e-a7e7-e3907994ab34"
						alt="DMCA.com Protection Status" /></a>
				<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
			

 -->